.project-heading {
    text-align: center;
    padding: 4rem 0 2rem 0;
}

.project-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
}

.project-card{
    border: solid #00c5c8 2px;
    background: #1a1919 ;
    padding: 1.2rem 1rem;
}

.project-card img {
    width: 100%;
}
.project-title {
    color: #fff;
    padding: 1rem 0;
}

.pro-detail p{
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
    color: #00c5c8;
}

.pro-btns{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.pro-btns .pro-btn{
    padding: 0.5rem 1rem;
}
@media screen and (max-width: 1180px) {
    .project-container{
        max-width: 800px;
        margin: auto;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 840px) {
    .project-container{
        max-width: 500px;
        margin: auto;
        grid-template-columns: 1fr;
    }
}